.terminal-container {
  position: relative;
  height: 100%;
  :global {
    .terminal {
      padding: 0 8px;
    }
    .xterm .xterm-viewport {
      overflow-y: auto;
    }
  }
}

.find {
  position: absolute;
  right: 100px;
  display: flex;
  z-index: 10;
  // initial state
  top: -50px;
  opacity: 0;
  transition:
    transform 0.3s,
    opacity 0.3s;

  &.open {
    transform: translateY(50px);
    opacity: 1;
  }

  .controls {
    background-color: #fff;
    display: flex;
    align-items: center;
    svg {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.file-button {
  position: absolute;
  display: flex;
  width: 58px;
  justify-content: space-between;
  flex-direction: row;
  z-index: 10;
  right: 28px;
  top: 20px;
  gap: 4px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #bfbfbf !important;
  background-color: rgba(217, 217, 217, 0.3) !important;
  padding: 4px;
  border-radius: 4px;
}
